language: node_js
sudo: false
git:
  depth: 1
cache:
  directories:
    - $HOME/.npm
    - node_modules
matrix:
  include:
    - node_js: "12"
      script: npm test
      env: CI=test 12
    - node_js: "10"
      script: npm test
      env: CI=test 10
before_install:
  - npm install -g npm@latest
